@font-face {
  font-family: "PT Root UI";
  src: url("./PTRootUI/pt-root-ui_medium.woff2") format("woff2"),
    url("./PTRootUI/pt-root-ui_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PT Root UI";
  src: url("./PTRootUI/pt-root-ui_bold.woff2") format("woff2"), url("./PTRootUI/pt-root-ui_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
